region       = "ap-south-1"
project_name = "ecs-fargate"
environment  = "dev"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24"
]

allowed_cidr_blocks = ["0.0.0.0/0"]

container_image = "nginx:latest"
container_port  = 80